@font-face {
  font-family: "Space Grotesk";
  src: url("../../assets/fonts/SpaceGrotesk.otf");
  font-family: "Visitor TT2 BRK";
  src: url("../../assets/fonts/visitor.ttf");
}

.projects-bg {
  max-height: 90vh;
  width: 70%;
}
.projects-main-content {
  position: absolute;
  top: 30%;
  max-height: 90vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-page-end {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3%;
}
.projects-card {
  box-sizing: border-box;
  background: #1d1d1d;
  border-radius: 10px;
  height: 820px;
}
.projects-card:hover {
  box-sizing: border-box;

  background: #000000;
  border: 3px solid #4519e0;
  box-shadow: inset 0px 506px 142px rgba(69, 25, 224, 0.01),
    inset 0px 324px 129px rgba(69, 25, 224, 0.06),
    inset 0px 182px 109px rgba(69, 25, 224, 0.2),
    inset 0px 81px 81px rgba(69, 25, 224, 0.34),
    inset 0px 20px 44px rgba(69, 25, 224, 0.39);
  border-radius: 20px;
}
.projects-heading-text {
  font-family: "Visitor TT2 BRK";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 71px;

  color: #4519e0;
}
.projects-description-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;

  color: #4519e0;
}

.projects-heading1-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.35em;

  color: #ffffff;
}
.projects-description1-text {
  font-family: "Visitor TT2 BRK";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 37px;
  text-align: center;

  color: #ffffff;
}
.projects-card-title-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
}
.projects-card-desc-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
}
.projects-tag {
  box-sizing: border-box;
  border: 1px solid #4519e0;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  background-color: #000000;
  color: #ffffff;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 650px;
  }
}
@media only screen and (max-width: 1100px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 71px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #4519e0;
  }
}
@media only screen and (max-width: 800px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 61px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;

    color: #4519e0;
  }
  .projects-heading1-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.35em;

    color: #ffffff;
  }
  .projects-description1-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;

    color: #ffffff;
  }
}
@media only screen and (max-width: 660px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #4519e0;
  }
}
@media only screen and (max-width: 560px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #4519e0;
  }
}
@media only screen and (max-width: 460px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #4519e0;
  }
}
@media only screen and (max-width: 978px) {
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 850px;
  }
}
@media only screen and (max-width: 767px) {
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 720px;
  }
}
@media only screen and (max-width: 480px) {
  .projects-card-title-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
  }
  .projects-card-desc-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
  }
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 600px;
  }
}
@media only screen and (max-width: 400px) {
  .projects-heading-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 0px;
    color: #4519e0;
  }
  .projects-description-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: #4519e0;
  }
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .projects-heading1-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.35em;

    color: #ffffff;
  }
  .projects-description1-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;

    color: #ffffff;
  }
}
@media only screen and (max-width: 300px) {
  .projects-heading1-text {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.35em;

    color: #ffffff;
  }
  .projects-description1-text {
    font-family: "Visitor TT2 BRK";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    text-align: center;

    color: #ffffff;
  }
  .projects-card {
    box-sizing: border-box;
    background: #1d1d1d;
    background: transparent;
    border-radius: 10px;
    height: 450px;
  }
}
